<div class="col-md-4">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title" style="margin-bottom: 1px">Forecast</h5>
            {% if weather %}
                <div class="row" style="margin-bottom: 1px">
                    {% for forecast in weather.forecast_data %}
                        <div class="col-6 mb-2" style="margin-bottom: 3px">
                            <h4 style=" margin-bottom: 2px">
                                {{ forecast.label }}
                            </h4>
                            <p style="font-size: 15px; margin-bottom: 2px">
                                Max: {{ forecast.temperature_max }}°C<br>
                                Min: {{ forecast.temperature_min }}°C
                            </p>
                            <p style="font-size: 10px; margin-bottom: 2px">
                                Precipitation: {{ forecast.precipitation_probability }}%
                            <i class="wi {{ forecast.weather_code }} weather-icon ms-2"></i>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="card-text">No weather data available.</p>
            {% endif %}
        </div>
    </div>
</div>